{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'home' %}">Inicio</a>
            <a class="nav-item nav-link active" href="{% url 'books' %}">Libros</a> 
        </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <br/>
          {% block container %} {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
